@{
    ViewData["Title"] = "Account LogIn Page";
}

<div class="text-center">
    <form id="AccountData" name="AccountData" asp-controller="Verification" asp-action="AccountLogIn">
        <p>
            Name:
            <input id="name" name="name" type="text">
        </p>
        <p>
            Password:
            <input name="password" type="password">
        </p>
        <input id="submit" type="submit" value="submit">
    </form>
</div>
<script>

    $("#AccountData").submit(function (event) {
        event.preventDefault();

        var form = $(this);

        $.ajax({
            type: "POST",
            url: "/Verification/AccountLogIn",
            data: form.serialize(),
            success: function (response) {
                if (response === true) {
                    var name = $("#name").val();
                    var space_url = "Space/" + "?user=" + name;
                    window.location = space_url;
                }
                else {
                    alert("Name or Password is wrong!!");
                }
            }
        })
    })
</script>
