@{
    ViewData["Title"] = "LogIn Page";
}

<div>
    <form id="LogInForm" name="LogInForm" action="/api/Registrant/LogIn" method="post">
        <p>
            Name:
            <input id="name" name="name" type="text">
        </p>
        <p>
            Password:
            <input id="password" name="password" type="password">
        </p>
        
        <input id="submit" type="submit" value="submit">
    </form>
</div>
<script>
    $("#LogInForm").submit(function (event) {
        event.preventDefault();

        $.ajax({
            type: document.getElementById("LogInForm").getAttribute("method"),
            url: document.getElementById("LogInForm").getAttribute("action"),
            data: $("#LogInForm").serialize(),
            success: function (response) {
                var id = response.RegistrantID;
                window.location = "Space?" + "id=" + id;
            }
        })
    })
</script>
