@model ShopApplication.Models.AccountInfoModelDTO

@{
    ViewData["Title"] = "Account SignUp Page";
}

<div class="text-center">
    <form asp-controller="Verification" asp-action="AccountSignUp">
        <p>
            Name:
            <input asp-for="AccountName" type="text">
        </p>
        <p>
            Password:
            <input asp-for="AccountPassword" type="password">
        </p>
        <p>
            Gender:
            <select asp-for="AccountGender" asp-items="Html.GetEnumSelectList<ShopApplication.DIYtype.Gender>()">
            </select>
        </p>
        <p>
            Birthday:
            <input asp-for="AccountBirthday" type="date">
        </p>
        <input id="submit" type="submit" value="submit">
    </form>
</div>
