@model LogInAPI.Models.RegistrantDTO

@{
    ViewData["Title"] = "SignUp Page";
}

<div>
    <form id="RegistrantsForm" name="RegistrantsForm" action="/api/Registrant" method="post">
        <p>
            <label>Name:</label>
            <input asp-for="Name" type="text">
        </p>
        <p>
            <label>Password:</label>
            <input asp-for="Password" type="password">
        </p>
        <p>
            <label>Gender:</label>
            <select asp-for="RegistrantGender" asp-items="@Html.GetEnumSelectList<LogInAPI.Models.Gender>()"></select>
        </p>
        <p>
            <label>Birthday:</label>
            <input asp-for="Birthday" type="date">
        </p>
        <input id="submit" type="submit" onclick="SignUp('RegistrantsForm', 'LogIn')" value="submit">
    </form>
</div>
