@model ShopApplication.Areas.LogInSystem.Models.RegistrantsModel

@{
    ViewData["Title"] = "Account Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Your Space</h1>
    <p>Hello</p>
    <p>Account: @Html.DisplayFor(model => model.Name)</p>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="AccountSetting" asp-action="Index">Setting</a>
    </p>
    <p>
        <a class="nav-link text-dark" asp-area="LogInSystem" asp-controller="Authentication" asp-action="LogOut">Log Out</a>
    </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
