@{
    ViewData["Title"] = "Customer Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Customer" asp-action="Space">
        <p>Your Name:</p>
        <input name="customerName" type="text">
        <input id="submit" type="submit">
    </form>
</div>
