@model ShopApplication.Areas.LogInSystem.Models.RegistrantsModelDTO

@{
    ViewData["Title"] = "Setting Person Info Page";
}

<div class="text-center">
    <form asp-controller="AccountSetting" asp-action="UpdateData" method="post">
        <p>
            Name: <input asp-for="Name">
        </p>
        <p>
            Password: <input asp-for="Password">
        </p>
        <p>
            Gender: <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<ShopApplication.Areas.LogInSystem.Mapping.Gender>()"></select>
        </p>
        <p>
            <input asp-for="Birthday">
        </p>
        <input id="submit" type="submit" value="submit">
    </form>
</div>
