@{
    ViewData["Title"] = "Product Menu Page";
}

<ul id="menu"></ul>

<script>
    let dataCluster = getMenu();
    var text = "";
    for (var i = 0; i < dataCluster.length; i++) {
        var info = dataCluster[i];
        var content =
            `
            <li>
                <p>${info.productID}</p>
                <img src="${info.picturePath}" />
                <a href="${info.link}">Link to ${info.productName}</a>
            </li>
            `
        text = text + content;
    }
    document.getElementById("menu").innerHTML = text;
</script>

