@{
    ViewData["Title"] = "Product Page";
    string productID = ViewData["productID"] as string;
}

<div id="info">

</div>

<script>
    var data = getProductInfo("@productID");
    var text =
        `
        <p>Name: ${data.productName}</p>
        <p>Price: ${data.price}</p>
        <p>Remaining: ${data.remainingQuantity}</p>
        <img src="${data.picturePath}" />
        `;
    document.getElementById("info").innerHTML = text;
</script>
