@model ShopApplication.Models.Product

@{
    ViewData["Title"] = "Product Page";
}

<div>
    <p>
        @Html.DisplayFor(m => m.ProductID)
    </p>
    <p>
        <img src="~/ProductMenu/@Html.DisplayFor(m => m.PicturePath)"/>
        <a asp-controller="Product" asp-action="ProductInfo" asp-route-productID="@Model.ProductID">Link to Product</a>
    </p>
</div>
