@model LogInSystem.Models.RegistrantsModelDTO

@{
    ViewData["Title"] = "LogIn Page";
}

<div>
    <form id="RegistrantsForm" name="RegistrantsForm">
        <p>
            @Html.DisplayNameFor(model => model.Name)
            <input asp-for="Name" type="text">
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Password)
            <input asp-for="Password" type="password">
        </p>
        
        <input id="submit" type="submit" value="submit">
    </form>
</div>
